.background {
  background-image: url("./imgs/profile_large.jpg");
}

body {
  font-family: 'Tajawal' !important;
}

h1, h2, h3 {
  font-family: 'Raleway' !important;
}

.uk-text-meta {
  font-family: 'Tajawal' !important;
}
